<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= column_chart Appointment.group(:age).count, title: "Distribuição das idades", download: true %>
      </div>
    </div>
    <hr>
    <div class="row justify-content-md-center">
      <div class="col-md-4">
        Filtrar consultas por quantidade de dias atrás:
        <%= form_tag(appointments_path, :method => "get", id: "days-form") do %>
        <%= number_field_tag :days, params[:days], placeholder: "Exemplo: 15", step: 1, class:"form-control" %>
        <%= submit_tag "Pesquisar", class:"btn btn-dark mt-2 mr-2" %>
        <%= link_to "Limpar", appointments_path, class:'btn btn-danger mt-2' %>
        <% end %>
      </div>
      <% if @daysAgo == 0 %>
      <%= column_chart @lastFifteenDays, title: "Consultas de hoje por Gênero", download: true %>
      <% else %>
      <%= column_chart @lastFifteenDays, title: "Consultas Últimos #{@daysAgo} Dias por Gênero", download: true %>
      <% end %>
    </div>

    <div class="row">
      <div class="col">
        <%= column_chart @sex, title: "Distribuição Por Sexo ", download: true %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= line_chart @consultsDiseasesHistory, messages: {empty: "Sem historico consultas"}, id: "consultsDiseasesHistory", download: true, title: "Histórico de Consultas por Doenças"%>
        <!-- Quando não tem dados:
            <div id="consultsDiseasesHistory" style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Sem historico consultas</div> 
          -->
      </div>
    </div>

    <hr>
    <h3>Doenças por perfil</h3>
    <div class="row">
      <div class="col-3">
        <%= column_chart @sexByDiseases, title: "Sexo x Doenças", download: true %>
      </div>
      <div class="col-9">
        <%= column_chart @diseasesByAge, title: "Doenças x Idade", stacked:true, download: true %>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col">


        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content detalhes_periodo">

              <h3>Consultas por período detalhados</h3>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Período</th>
                    <th scope="col">Qt. Consultas</th>
                  </tr>
                </thead>
                <tbody>
                  <% 
                  i = 0
                  until i >= @arrayPeriodo.length do %>
                  <tr>
                    <td rowspan="5"><%= @arrayPeriodo[i] %></td>
                    <% i+=1%>
                  <tr scope="row">
                    <td>Madrugada</td>
                    <td><%= @arrayPeriodo[i] %></td>
                    <% i+=1%>
                  </tr>
                  <tr scope="row">
                    <td>Manhã</td>
                    <td><%= @arrayPeriodo[i] %></td>
                    <% i+=1%>
                  </tr>
                  <tr scope="row">
                    <td>Tarde</td>
                    <td><%= @arrayPeriodo[i] %></td>
                    <% i+=1%>
                  </tr>
                  <tr scope="row">
                    <td>Noite</td>
                    <td><%= @arrayPeriodo[i] %></td>
                    <% i+=1%>
                  </tr>
                  </tr>
                  <% end #until%>
                </tbody>
              </table>

            </div>
          </div>
        </div> <!-- Fim Modal-->
        <h3>Total Consultas dos Últimos <%= @daysAgo %> dias por Período
          <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target=".bd-example-modal-lg">Detalhes</button>
        </h3>
        <table class="table table-bordered table-hover">
          <tr scope="row">
            <th scope="col"> Periodo</th>
            <th scope="col">Qtd Consultas</th>
          </tr>
          <tr scope="row">
            <td>Madrugada</td>
            <td><%= @total_madrugada %></td>
          </tr>
          <tr scope="row">
            <td>Manhã</td>
            <td><%= @total_manha %></td>
          </tr>
          <tr scope="row">
            <td>Tarde</td>
            <td><%= @total_tarde %></td>
          </tr>
          <tr scope="row">
            <td>Noite</td>
            <td><%= @total_noite %></td>
          </tr>
          <tr scope="row">
            <th colspan="2" class="center">Total Consultas: <%= @total_itens %></th>
          </tr>
        </table>
        <hr>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <a href='#' onclick="window.print();" class='btn btn-dark'>Gerar PDF</a>
    </div>
  </div>