<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= column_chart Appointment.group(:age).count, title: "Distribuição das idades" %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <%= column_chart @lastFifteenDays, title: "Consultas Últimos #{@daysAgo} Dias por Gênero"%>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
          <%= column_chart @sex, title: "Distribuição Por Sexo "%>
      </div>
    </div>

    <hr>
    <h3>Doenças por perfil</h3>
    <div class="row">
      <div class="col-3">
        <%= column_chart @sexByDiseases, title: "Sexo x Doenças" %>
      </div>
      <div class="col-9">
        <%= column_chart @diseasesByAge, title: "Doenças x Idade", stacked:true %>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col">
        <h3>Consultas por período</h3>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Período</th>
              <th scope="col">Qt. Consultas</th>
            </tr>
          </thead>
          <tbody>
            <% 
          i = 0
          until i >= @arrayPeriodo.length do %>
            <tr>
              <td rowspan="5"><%= @arrayPeriodo[i] %></td>
              <% i+=1%>
            <tr scope="row">
              <td>Madrugada</td>
              <td><%= @arrayPeriodo[i] %></td>
              <% i+=1%>
            </tr>
            <tr scope="row">
              <td>Manhã</td>
              <td><%= @arrayPeriodo[i] %></td>
              <% i+=1%>
            </tr>
            <tr scope="row">
              <td>Tarde</td>
              <td><%= @arrayPeriodo[i] %></td>
              <% i+=1%>
            </tr>
            <tr scope="row">
              <td>Noite</td>
              <td><%= @arrayPeriodo[i] %></td>
              <% i+=1%>
            </tr>
            </tr>
            <% end #until%>
          </tbody>
        </table>
        <h3>Total Consultas por Período</h3>
        <table class="table table-bordered table-hover">
          <tr scope="row">
            <th scope="col"> Periodo</th>
            <th scope="col">Qtd Consultas</th>
          </tr>
          <tr scope="row">
            <td>Madrugada</td>
            <td><%= @total_madrugada %></td>
          </tr>
          <tr scope="row">
            <td>Manhã</td>
            <td><%= @total_manha %></td>
          </tr>
          <tr scope="row">
            <td>Tarde</td>
            <td><%= @total_tarde %></td>
          </tr>
          <tr scope="row">
            <td>Noite</td>
            <td><%= @total_noite %></td>
          </tr>
          <tr scope="row">
            <th colspan="2" class="center">Total Consultas: <%= @total_itens %></th>
          </tr>
        </table>
    <hr>
    </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <a href='#' onclick="window.print();" class='btn btn-dark'>Gerar PDF</a>
    </div>
  </div>
</div>