<div class="jumbotron">
  <div id="related_diseases" class="container">
    <h4>Doenças investigadas em conjunto</h4>
    <% @related_diseases.each_key do |first| %>
      <div class="row" id="<%= first %>">
        <div class="col mt-4">
          <strong><%= first %></strong>
        </div>
      </div>
      <div class="row" id="<%= first %>_related">
        <% @related_diseases[first].each_key do |second| %>
          <div class="col">
            <%= second %>: <%= @related_diseases[first][second] %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</p>

  <div id="consult_diseases" class="container consult_diseases">
    <table class="table table-bordered table-hover">
      <thead>
        <tr scope="row">
          <th scope="col" colspan="2"><h4>Total de consultas por doenças</h4></th>
        </tr>
        <tr>
          <th scope="col">Doença</th>
          <th scope="col">Qt. Consultas</th>
        </tr>
      </thead>
      <tbody>
        <% @diseases.each do |disease| %>
          <tr scope="row" id="<%= disease.name %>" class="disease_total">
            <td><%= disease.name %></td>
            <td><%= disease.appointments.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
