<!DOCTYPE html>
<html>

<head>
  <title>Arkade</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">MED CheckApp Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/appointments">Consultas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/diseases">Doenças Investigadas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/actions">Ações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctors">Médicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wikis">Dashboard Wikis</a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main">

    <%= yield %>

  </main>

  <footer class="container">
    <hr>
    <p>&copy; Arkade 2020</p>
  </footer>
</body>

</html>
